
body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

/* Typography */

h1{
    font-weight: normal;
    font-size: 3em;
}

h2{
    font-weight: 300;
    font-size: 2.5em;
}

a{
    color: aquamarine;
    font-size: 1em;
}

p{
    color: gray;
    font-size: 1.2em;
}


/* Layout */

.img{
    margin: auto;
    padding: 2rem;
}

#copyright{
    text-align: right;
}

